<div id="about" class="box">
  <div class="box-sub subbox1">
    About me
    <p>I am an extremely passionate self-learner. I hold myself to very high expectations and am confident in my
      ability to achieve the highest degree of quality and excellence.</p>
  </div>
  <div class="box-sub subbox2">
    Studies
    <p>
      <li>Graduated as a mechanical engineer in 2015 </li>
      <li>Studied software engineering course in 2018 for four months period</li>
    </p>
  </div>
  <div class="box-sub subbox3">
    Visions
    <p>
      I am seeking to become one of the best developers by improving both theoritical and practical knowledge. <br /><br />
      I am free for a developer job opportunity, as a full time employee or as a remote job employee. <br /><br />
      I am free also for a freelance opportunity.
    </p>
  </div>
  <div class="box-sub subbox4">
    Proffisional Abilites
    <p>
      <img src="../../assets/html5-css-javascript-logos.png" style="width:85px" href="" />
      <img src="../../assets/jquery-card.png" href="" style="height: 50px; width:70px" />
      <img src="../../assets/Github.png" href="" style="height: 40px; width:40px" />
      <img src="../../assets/Angular.png" href="" />
      <img src="../../assets/React.png" href="" />
      <img src="../../assets/NodeJS.png" href="" style="height: 40px; width:60px"/>
      <img src="../../assets/Express.png" href="" />
      <img src="../../assets/MySql.png" href="" style="height: 50px; width:60px" />
      <img src="../../assets/Sqlite.png" href="" style="height: 30px; width:70px" />
      <img src="../../assets/Heroku.png" href="" style="height: 60px; width:60px; margin-right: -20px" />
      <img src="../../assets/MongoDb.png" href="" style="height: 35px; width:90px" />
      <img src="../../assets/Mongoose.png" href="" style="height: 40px; width:60px" />
      <img src="../../assets/npm.png" href="" style="height: 30px;" />
      <img src="../../assets/Git.png" href="" style="height: 35px; width:35px" />
      <img src="../../assets/Bower.png" href="" style="height: 35px; width:35px" />
      <img src="../../assets/Chai.png" href="" style="width:50px" />
      <img src="../../assets/logologo.png" href="" style="width:80px" />
    </p>
  </div>
</div>
