<nav class="navbar-basic">
  <h5 class="title">
    Issa Anagreh
  </h5>
  <a href="#about" class="navbar-flex">
    About
  </a>
  <a href="#projects" class="navbar-flex">
    Projects
  </a>
  <a href="#contact" class="navbar-flex">
    Contact
  </a>
  <a href="#" class="navbar-flex top">
    <span class="glyphicon glyphicon-arrow-up"></span>
    Top
  </a>
  <a href="#" onClick="MyWindow=window.open('http://www.google.com','MyWindow',width=600,height=300); return false;">Click Here</a>

</nav>
